body { position: relative; margin: 10px; background: #666; }
.image { height: 250px; display: inline-block; }
#gallery img { height: 200px; background: #fff; margin: 10px; box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3) }
.imageLink,
.remove { display: block; }

.remove,
.save { display: block; text-align: center; text-decoration: none; font-family: Arial; color: #777; font-weight: bold; font-size: 15px; }
.remove:hover,
.save:hover { color: #ddd; }