* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body { position: relative; margin: 0; font-family: "Helvetica Neue", serif; }
#canvas { background: #fffaf5; border: 1px solid #000; position: relative; margin: 0; /* background: -webkit-radial-gradient(center, circle cover, white 0%, white 70%, #efefef 90%, #ccc 100%); */ }
.player { position: absolute; top: 0; left: 0; z-index: 99; width: 25px; height: 25px; background: red; border-radius: 15px; -moz-border-radius: 15px; border: 1px solid #F88; }
#clear { box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5); /* color: red; */ display: block; position: absolute; bottom: 10px; left: 10px; width: 60px; height: 60px; boder: 1px solid #999; /* background: -webkit-linear-gradient(#fff, #ccc); */ line-height: 0; font-weight: bold; }
#clear:active { background: -webkit-linear-gradient(#ccc, #fff) }
#clear span { font: 60px serif; color: red; position: relative; top: -2px; }
#palette { position: absolute; left: 0; top: 70px; }
#palette .color { box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.5); display: block; margin: 12px; width: 40px; height: 40px; border: none; font-size: 30px; }
#palette .color.selected { padding: 5px; box-shadow: inset 0px 2px 2px 1px rgba(0,0,0,0.5); box-sizing: content-box; margin: -7px 7px;}
#brush { position: absolute; bottom: 25px; left: 100px; }
#brush .brushSample { background: #fff; border: 1px solid #000; border-radius: 1000px; display: inline-block; margin-left: 10px; }
#brush .brushSample.selected { background: #000; }
#history { position: absolute; bottom: 5px; left: 320px; width: 440px; height: 100px; white-space: nowrap; overflow-x: auto; -webkit-overflow-scrolling: touch; }
#history img { height: 80px; margin: 0 5px; background: #fff; }
#galleryLink { display: block; position: absolute; bottom: 4px; left: 680px; font-weight: bold; text-decoration: none; color: #666; }

#gallery { display: none; position: absolute; overflow-y: auto; -webkit-overflow-scrolling: touch; color: #eee; background: #666; width: 768px; height: 1024px; top: 0; left: 0; z-index: 1; }
#gallery aside { margin-top: 30px; }
#gallery .image { display: inline-block; }
#gallery .image.selected { background: #000; }
#gallery img { height: 200px; background: #fff; margin: 10px; box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3) }
#gallery .imageLink,
#gallery.remove { display: block; }
