* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body { position: relative; margin: 0; }
#canvas { border: 1px solid #000; position: relative; margin: 0; background: -webkit-radial-gradient(center, circle cover, white 0%, white 70%, #efefef 90%, #ccc 100%); }
.player { position: absolute; top: 0; left: 0; z-index: 99; width: 25px; height: 25px; background: red; border-radius: 15px; -moz-border-radius: 15px; border: 1px solid #F88; }
#clear { display: block; position: absolute; bottom: 4px; left: 0; width: 60px; height: 60px; boder: 1px solid #999; background: -webkit-linear-gradient(#fff, #ccc); line-height: 0; font-weight: bold; }
#clear:active { background: -webkit-linear-gradient(#ccc, #fff) }
#clear span { font: 60px arial, serif; color: #000; position: relative; top: -8px; }
#palette { position: absolute; left: 0; top: 100px; }
#palette .color { display: block; margin: 10px; width: 40px; height: 40px; border: 1px solid #000; font-size: 30px; }
#palette .color.selected { border: 1px solid #fff; box-shadow: 0 0 0 8px #000; }
#brush { position: absolute; bottom: 25px; left: 100px; }
#brush .brushSample { background: #fff; border: 1px solid #000; border-radius: 1000px; display: inline-block; margin-left: 10px; }
#brush .brushSample.selected { background: #000; }
#history { position: absolute; bottom: 5px; left: 320px; width: 440px; height: 100px; white-space: nowrap; overflow-x: auto; -webkit-overflow-scrolling: touch; }
#history img { height: 80px; margin: 0 5px; background: #fff; }
#galleryLink { display: block; position: absolute; bottom: 4px; left: 680px; font-weight: bold; text-decoration: none; color: #666; }

#gallery { display: none; position: absolute; overflow-y: auto; -webkit-overflow-scrolling: touch; background: #666; width: 768px; height: 1024px; top: 0; left: 0; z-index: 1; }
#gallery aside { margin-top: 30px;}
#gallery a { display: block; text-align: center; text-decoration: none; font-family: Arial; color: #777; font-weight: bold; font-size: 15px; }
#gallery a:hover { color: #ddd; }
#gallery .close { display: inline; margin: 10px; color: #eee; }
#gallery .image { display: inline-block; }
#gallery .image.selected { background: #000; }
#gallery img { height: 200px; background: #fff; margin: 10px; box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3) }
#gallery .imageLink,
#gallery.remove { display: block; }
