body {
  position: relative;
  margin:0;
}

#canvas {
  border: 1px solid #000;
  position: relative;
  margin:0;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 11px;
  -moz-border-radius: 11px;
  border: 1px solid #F88;
}

#clear {
  display:block;
}
